In [2]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [3]:
df = spark.read.json('./data/yelp_academic_dataset_business.json')

In [4]:
df.printSchema()

root
 |-- address: string (nullable = true)
 |-- attributes: struct (nullable = true)
 |    |-- AcceptsInsurance: string (nullable = true)
 |    |-- AgesAllowed: string (nullable = true)
 |    |-- Alcohol: string (nullable = true)
 |    |-- Ambience: string (nullable = true)
 |    |-- BYOB: string (nullable = true)
 |    |-- BYOBCorkage: string (nullable = true)
 |    |-- BestNights: string (nullable = true)
 |    |-- BikeParking: string (nullable = true)
 |    |-- BusinessAcceptsBitcoin: string (nullable = true)
 |    |-- BusinessAcceptsCreditCards: string (nullable = true)
 |    |-- BusinessParking: string (nullable = true)
 |    |-- ByAppointmentOnly: string (nullable = true)
 |    |-- Caters: string (nullable = true)
 |    |-- CoatCheck: string (nullable = true)
 |    |-- Corkage: string (nullable = true)
 |    |-- DietaryRestrictions: string (nullable = true)
 |    |-- DogsAllowed: string (nullable = true)
 |    |-- DriveThru: string (nullable = true)
 |    |-- GoodForDancing: string (nullable = true)
 |    |-- GoodForKids: string (nullable = true)
 |    |-- GoodForMeal: string (nullable = true)
 |    |-- HairSpecializesIn: string (nullable = true)
 |    |-- HappyHour: string (nullable = true)
 |    |-- HasTV: string (nullable = true)
 |    |-- Music: string (nullable = true)
 |    |-- NoiseLevel: string (nullable = true)
 |    |-- Open24Hours: string (nullable = true)
 |    |-- OutdoorSeating: string (nullable = true)
 |    |-- RestaurantsAttire: string (nullable = true)
 |    |-- RestaurantsCounterService: string (nullable = true)
 |    |-- RestaurantsDelivery: string (nullable = true)
 |    |-- RestaurantsGoodForGroups: string (nullable = true)
 |    |-- RestaurantsPriceRange2: string (nullable = true)
 |    |-- RestaurantsReservations: string (nullable = true)
 |    |-- RestaurantsTableService: string (nullable = true)
 |    |-- RestaurantsTakeOut: string (nullable = true)
 |    |-- Smoking: string (nullable = true)
 |    |-- WheelchairAccessible: string (nullable = true)
 |    |-- WiFi: string (nullable = true)
 |-- business_id: string (nullable = true)
 |-- categories: string (nullable = true)
 |-- city: string (nullable = true)
 |-- hours: struct (nullable = true)
 |    |-- Friday: string (nullable = true)
 |    |-- Monday: string (nullable = true)
 |    |-- Saturday: string (nullable = true)
 |    |-- Sunday: string (nullable = true)
 |    |-- Thursday: string (nullable = true)
 |    |-- Tuesday: string (nullable = true)
 |    |-- Wednesday: string (nullable = true)
 |-- is_open: long (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- name: string (nullable = true)
 |-- postal_code: string (nullable = true)
 |-- review_count: long (nullable = true)
 |-- stars: double (nullable = true)
 |-- state: string (nullable = true)

In [5]:
df.show()

+--------------------+--------------------+--------------------+--------------------+--------------+--------------------+-------+-------------+--------------+--------------------+-----------+------------+-----+-----+
|             address|          attributes|         business_id|          categories|          city|               hours|is_open|     latitude|     longitude|                name|postal_code|review_count|stars|state|
+--------------------+--------------------+--------------------+--------------------+--------------+--------------------+-------+-------------+--------------+--------------------+-----------+------------+-----+-----+
|1616 Chapala St, ...|{null, null, null...|Pns2l4eNsfO8kk83d...|Doctors, Traditio...| Santa Barbara|                null|      0|   34.4266787|  -119.7111968|Abby Rappoport, L...|      93101|           7|  5.0|   CA|
|87 Grasso Plaza S...|{null, null, null...|mpf3x-BjTdTEA3yCZ...|Shipping Centers,...|        Affton|{8:0-18:30, 0:0-0...|      1|    38.551126|    -90.335695|       The UPS Store|      63123|          15|  3.0|   MO|
|5255 E Broadway Blvd|{null, null, null...|tUFrWirKiKi_TAnsV...|Department Stores...|        Tucson|{8:0-23:0, 8:0-22...|      0|    32.223236|   -110.880452|              Target|      85711|          22|  3.5|   AZ|
|         935 Race St|{null, null, u'no...|MTSW4McQd7CbVtyjq...|Restaurants, Food...|  Philadelphia|{7:0-21:0, 7:0-20...|      1|   39.9555052|   -75.1555641|  St Honore Pastries|      19107|          80|  4.0|   PA|
|       101 Walnut St|{null, null, null...|mWMc6_wTdE0EUBKIG...|Brewpubs, Breweri...|    Green Lane|{12:0-22:0, null,...|      1|   40.3381827|   -75.4716585|Perkiomen Valley ...|      18054|          13|  4.5|   PA|
|       615 S Main St|{null, null, u'no...|CF33F8-E6oudUQ46H...|Burgers, Fast Foo...|  Ashland City|{9:0-0:0, 0:0-0:0...|      1|    36.269593|    -87.058943|      Sonic Drive-In|      37015|           6|  2.0|   TN|
|8522 Eager Road, ...|{null, null, null...|n_0UpQx1hsNbnPUSl...|Sporting Goods, F...|     Brentwood|{10:0-18:0, 0:0-0...|      1|    38.627695|    -90.340465|     Famous Footwear|      63144|          13|  2.5|   MO|
|  400 Pasadena Ave S|                null|qkRM_2X51Yqxk3btl...|Synagogues, Relig...|St. Petersburg|{9:0-17:0, 9:0-17...|      1|     27.76659|    -82.732983|      Temple Beth-El|      33707|           5|  3.5|   FL|
|   8025 Mackenzie Rd|{null, null, u'fu...|k0hlBqXX-Bt0vf1op...|Pubs, Restaurants...|        Affton|                null|      0|   38.5651648|   -90.3210868|Tsevi's Pub And G...|      63123|          19|  3.0|   MO|
| 2312 Dickerson Pike|{null, null, u'no...|bBDDEgkFA1Otx9Lfe...|Ice Cream & Froze...|     Nashville|{6:0-16:0, 0:0-0:...|      1|   36.2081024|   -86.7681696|      Sonic Drive-In|      37207|          10|  1.5|   TN|
|21705 Village Lak...|{null, null, null...|UJsufbvfyfONHeWdv...|Department Stores...| Land O' Lakes|{9:30-21:30, 9:30...|      1|28.1904587953|-82.4573802199|           Marshalls|      34639|           6|  3.5|   FL|
|                    |{null, null, 'non...|eEOYSgkmpB90uNA7l...|Vietnamese, Food,...|     Tampa Bay|{11:0-14:0, 11:0-...|      1|   27.9552692|   -82.4563199|Vietnamese Food T...|      33602|          10|  4.0|   FL|
|        8901 US 31 S|{null, null, 'non...|il_Ro8jwPlHresjw9...|American (Traditi...|  Indianapolis|{6:0-22:0, 6:0-22...|      1|39.6371332838| -86.127217412|             Denny's|      46227|          28|  2.5|   IN|
|   15 N Missouri Ave|{null, null, null...|jaxMSoInw8Poo3XeM...|General Dentistry...|    Clearwater|{null, 7:30-15:30...|      1|    27.966235|    -82.787412|        Adams Dental|      33755|          10|  5.0|   FL|
|       2575 E Bay Dr|{null, null, u'no...|0bPLkL0QhhPO5kt1_...|Food, Delis, Ital...|         Largo|{10:0-20:0, 10:0-...|      0|   27.9161159|   -82.7604608|Zio's Italian Market|      33771|         100|  4.5|   FL|
|         205 Race St|{null, null, 'ful...|MUTTqe8uqyMdBl186...|Sushi Bars, Resta...|  Philadelphia|{13:30-23:0, null...|      1|    39.953949|   -75.1432262|            Tuna Bar|      19106|         245|  4.0|   PA|
|     625 N Stone Ave|{null, null, null...|rBmpy_Y1UbBx8ggHl...|Automotive, Auto ...|        Tucson|{8:0-17:0, 0:0-0:...|      1|   32.2298719|  -110.9723419|Arizona Truck Out...|      85705|          10|  4.5|   AZ|
|        712 Adams St|{null, null, null...|M0XSSHqrASOnhgbWD...|Vape Shops, Tobac...|   New Orleans|{10:0-19:0, 10:0-...|      1|29.9414679565| -90.129952757|      Herb Import Co|      70118|           5|  4.0|   LA|
|     1241 Airline Dr|                null|8wGISYjYkE2tSqn3c...|Automotive, Car R...|        Kenner|{8:0-17:0, 8:0-17...|      1|    29.981183|   -90.2540123|    Nifty Car Rental|      70062|          14|  3.5|   LA|
|       1224 South St|{null, null, u'no...|ROeacJQwBeh05Rqg7...| Korean, Restaurants|  Philadelphia|{11:30-20:30, 11:...|      1|    39.943223|    -75.162568|                 BAP|      19147|         205|  4.5|   PA|
+--------------------+--------------------+--------------------+--------------------+--------------+--------------------+-------+-------------+--------------+--------------------+-----------+------------+-----+-----+
only showing top 20 rows

In [7]:
df.columns

['address',
 'attributes',
 'business_id',
 'categories',
 'city',
 'hours',
 'is_open',
 'latitude',
 'longitude',
 'name',
 'postal_code',
 'review_count',
 'stars',
 'state']

In [9]:
df.describe()

DataFrame[summary: string, address: string, business_id: string, categories: string, city: string, is_open: string, latitude: string, longitude: string, name: string, postal_code: string, review_count: string, stars: string, state: string]

In [10]:
df.describe().show()

+-------+-----------------+--------------------+--------------------+-----------+-------------------+-----------------+------------------+--------------------+-----------------+------------------+------------------+------+
|summary|          address|         business_id|          categories|       city|            is_open|         latitude|         longitude|                name|      postal_code|      review_count|             stars| state|
+-------+-----------------+--------------------+--------------------+-----------+-------------------+-----------------+------------------+--------------------+-----------------+------------------+------------------+------+
|  count|           150346|              150346|              150243|     150346|             150346|           150346|            150346|              150346|           150346|            150346|            150346|150346|
|   mean|7369.333333333333|                null|                null|       null| 0.7961502135075094|36.67115006414565|-89.35733948971448|              1252.4|45177.81755426108| 44.86656113232144|3.5967235576603303|  null|
| stddev|8738.777641447725|                null|                null|       null|0.40285993909006373|5.872758917014046|14.918501679930616|   811.1275005954503|26395.88208585646|121.12013570117071|0.9744207509201357|  null|
|    min|                 |---kPU91CF4Lq2-Wl...|3D Printing, Loca...|AB Edmonton|                  0|        27.555127|       -120.095137|        Grow Academy|                 |                 5|               1.0|    AB|
|    max|  ​185 E State St|zzyx5x0Z7xXWWvWnZ...|Zoos, Tours, Arts...|    ​Lithia|                  1|       53.6791969|    -73.2004570502|​​Transformationa...|          T9E 0V3|              7568|               5.0|   XMS|
+-------+-----------------+--------------------+--------------------+-----------+-------------------+-----------------+------------------+--------------------+-----------------+------------------+------------------+------+

In [11]:
from pyspark.sql.types import StructField, StringType, IntegerType, StructType

In [13]:
data_schema = [StructField('address', IntegerType(), True), StructField('name', StringType(), True)]

In [14]:
final_struc = StructType(fields=data_schema)

In [16]:
df = spark.read.json('./data/yelp_academic_dataset_business.json', schema= final_struc)

In [17]:
df.printSchema()

root
 |-- address: integer (nullable = true)
 |-- name: string (nullable = true)

In [18]:
#PART TWO

In [20]:
type(df['address'])

pyspark.sql.column.Column

In [21]:
df.select('address').show()

+-------+
|address|
+-------+
|   null|
|   null|
|   null|
|   null|
|   null|
|   null|
|   null|
|   null|
|   null|
|   null|
|   null|
|   null|
|   null|
|   null|
|   null|
|   null|
|   null|
|   null|
|   null|
|   null|
+-------+
only showing top 20 rows

In [22]:
type(df.select('address'))

pyspark.sql.dataframe.DataFrame

In [24]:
df.head(2)[0]

Row(address=None, name='Abby Rappoport, LAC, CMQ')

In [25]:
type(df.head(2)[0])

pyspark.sql.types.Row

In [27]:
df.select(['address','name']).show()

+-------+--------------------+
|address|                name|
+-------+--------------------+
|   null|Abby Rappoport, L...|
|   null|       The UPS Store|
|   null|              Target|
|   null|  St Honore Pastries|
|   null|Perkiomen Valley ...|
|   null|      Sonic Drive-In|
|   null|     Famous Footwear|
|   null|      Temple Beth-El|
|   null|Tsevi's Pub And G...|
|   null|      Sonic Drive-In|
|   null|           Marshalls|
|   null|Vietnamese Food T...|
|   null|             Denny's|
|   null|        Adams Dental|
|   null|Zio's Italian Market|
|   null|            Tuna Bar|
|   null|Arizona Truck Out...|
|   null|      Herb Import Co|
|   null|    Nifty Car Rental|
|   null|                 BAP|
+-------+--------------------+
only showing top 20 rows

In [28]:
df.withColumn('newage', df['address']).show()

+-------+--------------------+------+
|address|                name|newage|
+-------+--------------------+------+
|   null|Abby Rappoport, L...|  null|
|   null|       The UPS Store|  null|
|   null|              Target|  null|
|   null|  St Honore Pastries|  null|
|   null|Perkiomen Valley ...|  null|
|   null|      Sonic Drive-In|  null|
|   null|     Famous Footwear|  null|
|   null|      Temple Beth-El|  null|
|   null|Tsevi's Pub And G...|  null|
|   null|      Sonic Drive-In|  null|
|   null|           Marshalls|  null|
|   null|Vietnamese Food T...|  null|
|   null|             Denny's|  null|
|   null|        Adams Dental|  null|
|   null|Zio's Italian Market|  null|
|   null|            Tuna Bar|  null|
|   null|Arizona Truck Out...|  null|
|   null|      Herb Import Co|  null|
|   null|    Nifty Car Rental|  null|
|   null|                 BAP|  null|
+-------+--------------------+------+
only showing top 20 rows

In [29]:
df.withColumnRenamed('address', 'my_new_age').show()

+----------+--------------------+
|my_new_age|                name|
+----------+--------------------+
|      null|Abby Rappoport, L...|
|      null|       The UPS Store|
|      null|              Target|
|      null|  St Honore Pastries|
|      null|Perkiomen Valley ...|
|      null|      Sonic Drive-In|
|      null|     Famous Footwear|
|      null|      Temple Beth-El|
|      null|Tsevi's Pub And G...|
|      null|      Sonic Drive-In|
|      null|           Marshalls|
|      null|Vietnamese Food T...|
|      null|             Denny's|
|      null|        Adams Dental|
|      null|Zio's Italian Market|
|      null|            Tuna Bar|
|      null|Arizona Truck Out...|
|      null|      Herb Import Co|
|      null|    Nifty Car Rental|
|      null|                 BAP|
+----------+--------------------+
only showing top 20 rows

In [30]:
df.createOrReplaceTempView('people')

In [32]:
results = spark.sql('Select * FROM people')

In [33]:
results.show()

+-------+--------------------+
|address|                name|
+-------+--------------------+
|   null|Abby Rappoport, L...|
|   null|       The UPS Store|
|   null|              Target|
|   null|  St Honore Pastries|
|   null|Perkiomen Valley ...|
|   null|      Sonic Drive-In|
|   null|     Famous Footwear|
|   null|      Temple Beth-El|
|   null|Tsevi's Pub And G...|
|   null|      Sonic Drive-In|
|   null|           Marshalls|
|   null|Vietnamese Food T...|
|   null|             Denny's|
|   null|        Adams Dental|
|   null|Zio's Italian Market|
|   null|            Tuna Bar|
|   null|Arizona Truck Out...|
|   null|      Herb Import Co|
|   null|    Nifty Car Rental|
|   null|                 BAP|
+-------+--------------------+
only showing top 20 rows